.kawa{
    padding-left: 600px;
}

body{
    background-color: #ffffff;
}

.miku{
    padding-top: 290px;
    float: right;
    width: 600px;
    height: 600px;
}


    .huki{
        padding-left: 50px;
        float: left;
        width: 1200px;
        height: 600px;
    }

    

    .oya{
        flex-direction: column;
        flex-direction: column

    }





/* 003 */
.button003 a {
    background: #eee;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 260px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    text-decoration: none;
}
.button003 a:hover {
    background: #313131;
    color: #FFF;
}
.button003 a:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #313131;
    border-right: 3px solid #313131;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.button003 a:hover:after {
    border-color: #FFF;
}
.button003{
    padding-top: 50px;
    float: left;
    padding-left: 100px;
}

.mozi{
    position: absolute;
    padding-top: 180px;
    padding-left: 5%;
    font-size: 43px;
}
    
